@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root{
    --water: #60ADAD;
    --text: #fff;
    --contrast: #525252;
    --elem: #D9D9D9;
}

body{
    color: var(--text);
    background-color: var(--contrast);
}

#title{
    padding: 2rem;
    background-color: var(--water);
    font-size: 38px;
    position: relative;
}

#title>p{
    font-size: 18px;
}

.content{
    position: absolute;
    margin-left: 4%;
    top: 8rem;
    width: 92%;
    height: 78%;
    display: grid;
    gap: 2rem;
    color: var(--contrast);
}

.content *{
    background-color: var(--elem);
    border-radius: 15px;
    h2, label{
        text-align: center;
        font-size: 22px;
        font-weight: 400;
    }
    font-size: 18px;
}

#graph{
    grid-row: 1 / span 2;
    grid-column: 1;
}

#status{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#valve-control{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    button{
        background-color: var(--water);
        border: none;
        color: var(--text);
        width: 40%;
        padding: 5px;
    }

    input{
        width: 92%;
    }
}

#water-level{
    grid-column: 2;
    grid-row: 2 / span 2;
}